{{> menu id='dashboard'}}

  <h2 class="ui header">
    {{member.name}}
    BMI = {{memberBmi}}
    BMI CATEGORY = {{memberBmiCategory}}
  </h2>
  {{>listassessments}}
  {{>addassessment}}
</section>


