{{> menu id='dashboard'}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    {{member.name}}
    BMI = {{memberBmi}}
  </h2>
  {{>listassessments}}
  {{>addassessment}}
</section>
