{{> welcomemenu }}

<section class="ui center aligned middle aligned two column grid segment">
    <div class="column">
        <header class="ui header"> BMI Tracker </header>
        <p> Fill in your assessments week by week and track your BMI.
            Trainers will comment on your progress and encourage you to keep going!</p>
    </div>
    <div class="centre aligned column">
        <img class="ui middle aligned image" src="https://cdn.glitch.com/f65f3a69-2aee-4a76-8d34-a1dd0953818e%2Fgym2.jpg?1535903425110">
    </div>
</section>